body {
    background-color:orange;
}


#one {
    color:black;
    margin-top:200px;
    font-weight:bold;
    padding-top:200px;
}

h1 {
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:bold;
}

