{% extends 'todoapp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div class="container">
    {% for message in messages %}
    {{message}}
    {% endfor %}
</div>

<h3 class="text-center ">Change Password</h3>

    
    <form action="" method="POST" class="colr">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit">
    </form>

    
<link rel="stylesheet" href="{% static 'css/changepass.css' %}">
{% endblock content %}