{% extends 'todoapp/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: aqua;">
    {% block content %}
    <h3 class="text-center mt-5">Todo Page Project</h3>
    <h4 class="text-center">Sign Up And Make Every Day Todo List Activites</h4>
    {% endblock content %}
</body>
</html>